@page "/"


<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/app.css" />
</head>
<body>
    <div class="fondo">
        <div class="seccion">
            <h1>Boleta Electoral</h1>
            <h2>Puntos: @score</h2>
            <h2>Tiempo restante: @currentTime</h2>
            <h2>@message</h2>
            <button type="submit" class="button" @onclick="() => BotonReicioAsync()">REINICIO</button>
        </div>

        <main>

            <div class="seccion contenedor">
                <div class="board">
                    @foreach (var model in matriz)
                    {
                        <Squaere modelPrincipal="model" onMouseUp="() => MouseAction(model)"></Squaere>
                    }
                </div>
            </div>
        </main>
    </div>
</body>
</html>


@code{

    


}


