
/*imagenes*/
.mole {
    background-image: url('../img/rd.png');
    background-size: cover;
}
.acerto {
    background-image: url('../img/prdTacha.png');
    background-size: cover;
}
.pri {
    background-image: url('../img/pri.png');
    background-size: cover;
}
.ciudadano {
    background-image: url('../img/ciudadano.png');
    background-size: cover;
}
.independiente {
    background-image: url('../img/candidato.png');
    background-size: contain;
}
.morena {
    background-image: url('../img/amlo.png');
    background-size: cover;
    align-content: center;
}

.pan {
    background-image: url('../img/pan.png');
    background-size: cover;
}

.proge {
    background-image: url('../img/redes.png');
    background-size: cover;
}

.pt {
    background-image: url('../img/pt.png');
    background-size: cover;
}

.social {
    background-image: url('../img/social.png');
    background-size: cover;
}

.solidaridad {
    background-image: url('../img/solidaridad.jpg');
    background-size: cover;
}

.verde {
    background-image: url('../img/verde.png');
    background-size: cover;
}
/*fin imagen*/

.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}
/*errores*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
