html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    line-height: 2;
}
/**globales*/
.contenedor {
   width: 60vw;
   /*height: 60vh;*/
   margin: 0 auto;
}

.seccion {
    margin:11rem,0,0,6rem;
    
}
/*CODIGO*/
.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 60rem;
    margin: auto;
}

.square {
    width: 20rem;
    height: 20rem;
    border-style: solid;
    border-color: black;
}

.fondo {
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    background-size: cover
}
.contenedor-mensaje {
    display: flex;
    justify-content: space-between;
    flex-wrap: inherit;
}


/*imagenes*/
.mole {
    background-image: url('../img/rd.png');
    background-size: cover;
}
.acerto {
    background-image: url('../img/prdTacha.png');
    background-size: cover;
}
.pri {
    background-image: url('../img/pri.png');
    background-size: cover;
}
.ciudadano {
    background-image: url('../img/ciudadano.png');
    background-size: cover;
}
.independiente {
    background-image: url('../img/candidato.png');
    background-size: contain;
}
.morena {
    background-image: url('../img/amlo.png');
    background-size: cover;
    align-content: center;
}

.pan {
    background-image: url('../img/pan.png');
    background-size: cover;
}

.proge {
    background-image: url('../img/redes.png');
    background-size: cover;
}

.pt {
    background-image: url('../img/pt.png');
    background-size: cover;
}

.social {
    background-image: url('../img/social.png');
    background-size: cover;
}

.solidaridad {
    background-image: url('../img/solidaridad.jpg');
    background-size: cover;
}

.verde {
    background-image: url('../img/verde.png');
    background-size: cover;
}

.gameOver{
   background-image: url('../img/game.jpg');
   background-size: cover;
}

/*fin imagen*/

/*errores*/
#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
  
    @media screen and (max-width: 800px){
     
        .fondo {
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            background-size: cover;
        }
        .board {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            width: 55rem;
            height: 55rem;
            margin: auto;
        }
        .square {
            width: 15rem;
            height: 15rem;
            border-style: solid;
            border-color: black;
        }
    }

